<div class="header-container">
    <div class="po-font-text-bold po-text-color-neutral-dark-40">GERENCIADOR DE TAREFAS</div>
</div>
<po-divider></po-divider>
   

<po-table
  #poTable
  (p-remove)="confirmRemove($event)"
  [p-items]="items"
  [p-columns]="columns"
  [p-container]="'true'"
  [p-height]="400"
  [p-hide-batch-actions]="false"
  [p-hide-table-search]="false"
  [p-selectable]="true"
  [p-sort]="true"
  [p-striped]="true"
  [p-actions]="actions"
  [p-max-columns]="7"
  [p-virtual-scroll]="false"
>
</po-table>

<div class="po-row po-mb-2">
  <po-button 
      p-label="Criar Nova Tarefa" 
      (p-click)="openCreateModal()"
      p-kind="primary" 
      p-icon="po-icon-plus"
  ></po-button>
</div>

<po-modal
  #poModal
  [p-title]="isCreating ? 'Nova Tarefa' : 'Editar Tarefa'"
  
  [p-primary-action]="isCreating ? createAction : updateAction"
  [p-secondary-action]="cancelAction"
>
  <form class="po-row">
    <po-input
      class="po-md-3"
      name="id"
      p-label="ID da Tarefa"
      [(ngModel)]="itemToEdit.id"> 
    </po-input>

    <po-input
      class="po-md-4"
      name="titulo"
      p-label="Título"
      [(ngModel)]="itemToEdit.titulo">
    </po-input>

    <po-input
      class="po-md-3"
      name="categoria"
      p-label="Categoria"
      [(ngModel)]="itemToEdit.categoria">
    </po-input>

    <po-input
      class="po-md-2"
      name="date"
      p-label="Data"
      [(ngModel)]="itemToEdit.date">
    </po-input>
  </form>
</po-modal>


<po-divider></po-divider>

