<po-page-default 
  p-title="Gerenciamento de Tarefas em Memória (CRUD)">

  <po-button
    p-label="Nova Tarefa"
    p-icon="po-icon po-icon-plus"
    (p-click)="openCreateModal()">
  </po-button>

  <po-container class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
    <po-table
      #poTable
      [p-columns]="columns"
      [p-items]="items"
      [p-actions]="actions"
      p-hide-detail-row>
    </po-table>
  </po-container>

</po-page-default>

<po-modal 
  #poModal 
  p-title="Formulário de Tarefa"
  [p-primary-action]="isCreating ? createAction : updateAction"
  [p-secondary-action]="cancelAction">

  
  <po-input
    name="titulo"
    p-label="Título da Tarefa"
    [(ngModel)]="itemToEdit.titulo"
    p-required>
  </po-input>
  
    <po-combo 
      name="categoria"
      p-label="Escolha a Categoria" 
      [p-options]="categoryOptions"
      [ngModel]="itemToEdit.categoria"
      (ngModelChange)="itemToEdit.categoria = $event"
      > 
    </po-combo>
  <!-- [(ngModel)]="itemToEdit.categoria" -->
  
  <po-input
    name="date"
    p-label="Data (DD-MM-AAAA)"
    [(ngModel)]="itemToEdit.date"
    p-required>
  </po-input>

</po-modal>